* {
  box-sizing: border-box;
}

.flex-container {
  width: 100%;
  /* max-width: 1000px; */
  /* margin: auto; */
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  /*color: #003d52;*/
  color: #002e3d;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 800px) {
  .flex-container {
    flex-direction: row;
  }
}

.cv-title {
  margin-bottom: 0;
}

.update-date {
  color: #566977;
  margin-left: 5px;
}

p {
  margin: 0 0 10.5px
}

h1 {
  font-size: 39px
}

h2 {
  font-size: 32px
}

h1,
h2 {
  margin-top: 21px;
  margin-bottom: 10.5px;
  font-weight: 400;
  line-height: 1.1;
}

.cv dl {
  width: 100%;
  margin: 0;
  padding-left: 86px;
  position: relative;
}

.cv dt {
  font-weight: bold;
  line-height: 1.42857143;
  border-left: #8fbcbb solid;
  padding-left: 5px;
}

.cv dd {
  margin-left: 0;
}

.date {
  position: absolute;
  transform: translateX(-97px);
  width: 86px;
  text-align: right;
  height: 3em;
}

.subtitle {
  display: block;
  font-weight: normal;
}

button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 0 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

button.accordion.active,
button.accordion:hover {
  background-color: #ddd;
}

button.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  content: "\2212";
}

button.accordion.no-js {
  display: none;
}

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

div.panel.no-js {
  max-height: unset;
  background-color: #fafafa;
}

sub {
  font-size: 0.7em;
}

.cv {
  /* width: 70%; */
  /* flex: 2 1 auto; */
  background-color: white;
  padding: 0;
  max-width: 1000px;
  margin: auto;
}

@media only screen and (min-width: 800px) {
  .cv {
    padding: 0 15px;
  }

  .cv dl {
    padding-left: 100px;
  }

  .date {
    transform: translateX(-111px);
    width: 100px;
  }
}

.side-panel-container {
  flex: 1 0 auto;
}

@media only screen and (min-width: 800px) {
  .side-panel-container {
    flex: 1 0 250px;
  }
}


.side-panel {
  /* flex: 0 0 185px; */
  padding: 0 12px 7.5px 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  background: white;
  border-top: #5e81ac solid;
}

@media only screen and (min-width: 800px) {
  .side-panel {
    /* flex: 0 0 185px; */
    margin-top: 93px;
    max-width: 250px;
    margin-left: 0;
    /* padding: 0 12px 7.5px 12px; */
  }
}

.side-panel ul {
  padding: 0;
  list-style: none;
}

.side-panel li {
  margin-bottom: 2px;
}

.side-panel .languages span {
  font-weight: bold;
  border-right: #8fbcbb solid;
  padding-right: 5px;
  margin-right: 5px;
  display: inline-block;
  width: 60px;
}

.side-panel .interests li::before {
  content: '>';
  color: #8fbcbb;
  font-weight: 600;
}

.box {
  width: 20px;
  height: 10px;
  background-color: #566977;
  float: right;
  margin: 4px 2px;
}

.box.filled {
  background-color: #8fbcbb
}

.flex-spacer {
  flex: 0 0 0;
}

@media only screen and (min-width: 800px) {
  .flex-spacer {
    flex: 1 5 185px;
  }
}

.cv-container {
  flex: 1 1 1000px;
}

button.side-panel-accordion {
  background-color: #fff;
  color: #002e3d;
  cursor: pointer;
  padding: 0 12px;
  width: calc(100% + 24px);
  margin-left: -12px;
  border: none;
  text-align: left;
  outline: none;
  /* font-size: 15px; */
  transition: 0.4s;
}

button.side-panel-accordion:hover {
  background-color: #cfe9f2;
}

button.side-panel-accordion:after {
  content: '\002B';
  color: #8fbcbb;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  margin-top: 1em;
  font-size: 1.17em;
}

button.side-panel-accordion.active:after {
  content: "\2212";
}

button.side-panel-accordion h3 {
  display: inline-block;
}

button.side-panel-accordion.no-js {
  display: none;
}

div.side-panel-accordion__panel {
  /* padding: 0 18px; */
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

div.side-panel-accordion__panel.no-js {
  max-height: unset;
  background-color: #fafafa;
}